.main-body{
    background-image: url("resource/background-image.png");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
}

.logo{
    background-image: url("resource/logo.png");
    height: 100px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@font-face {
    font-family: "Quicksand";
    src: url("font/Quicksand-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Honey";
    src: url("font/HoneyScript-Light.ttf");
}

*{
    font-family: "Quicksand";
    font-size: 14px;
}

.title1{
    font-family: "Honey";
    font-size: 30px;
    letter-spacing: 3px; 
}